mixin postInfo(item)
    .post-meta
        != full_date(item.date, 'll') + ' | '
        if item.categories.length > 0
            span.categories= '分类于 ' 
                for category in item.categories.toArray()
                    a(href=url_for(category.path))= " #" + category.name

mixin posts()
    ul.home.post-list
        - page.posts.each(function(item, index) {
            li.post-list-item
                article.post-block
                    h2.post-title
                        a.post-title-link(href= url_for(item.path))
                            != item.title
                    +postInfo( item )
                    .post-content
                        != item.excerpt
                    a.read-more(href=item.path) ... more
        - })

mixin post(item)
    .post
        article.post-block
            h1.post-title
                != item.title
            +postInfo(item)
            .post-content
                != item.content

mixin postsList()
  ul.archive.post-list
      - page.posts.each(function(item, index) {
          li
              a.archive-list-link(href=url_for(item.path), title=item.title)
                  span.date= item.date.format('YYYY/MM/DD')
                  != item.title
      - })
